@if (4 <= ViewBag.week)
{
    @model List<PredictionChampWithTeamDTO>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h5>@ViewBag.week .Week Predictions Of Campionship</h5>
        <table class="table table-sm table-bordered table-hover mt-3">
            <tr>
                <th>Teams Name</th>
                <th>Prediction</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Team.Name</td>
                    <td>%@item.Prediction</td>

                </tr>
            }

        </table>


    </body>
</html>

}
