
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
   

        <div class="row">
            @await Component.InvokeAsync("AddTeam")
        </div><br />
        <div class="row">
            @await Component.InvokeAsync("TeamList")
        </div>
    


</body>
</html>



